host="localhost"
port=5432
user="sistema"
password="sistema"
dbname="sistema"
app_port=8080
TMDB_API_KEY=""
TMDB_BASE_URL="https://api.themoviedb.org/3"

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=""

OPENAI_API_KEY=""
OPENAI_MODEL="gpt-4o-mini"